* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Alice', serif;
}

html {
  font-family: 'Alice', serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

section {
  padding: 80px 30px 80px 30px;
}

section h2 {
  margin-bottom: 50px;
  font-size: 300%;
  text-align: center;
}

/* Navigation */
.navbar {
  background: rgba(255, 255, 255, 0.95);
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler {
  outline: none;
}

.nav-item {
  text-align: right;
}

/* Carousel */
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.carousel-item-1 {
  background-image: url('https://images.pexels.com/photos/353347/pexels-photo-353347.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb');
}

.carousel-item-2 {
  background-image: url('https://images.pexels.com/photos/132694/pexels-photo-132694.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb');
}

.carousel-item-3 {
  background-image: url('https://images.pexels.com/photos/302561/pexels-photo-302561.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb');
}

.carousel-item-4 {
  background-image: url('https://images.pexels.com/photos/159887/pexels-photo-159887.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb');
}

.carousel-item-5 {
  background-image: url('https://images.pexels.com/photos/6431/food-sweet-cake-glace-icing.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb');
}

.carousel-indicators--round li {
  border-radius: 10px;
  margin: 1px 3px;
  height: 10px;
  max-width: 10px;
  border: 1px solid #fff;
  background-color: transparent;
}

.carousel-indicators .active {
  background-color: #fff;
  max-width: 12px;
  margin: 0 3px;
  height: 12px;
}

.carousel-caption {
  margin-bottom: 300px;
}

.carousel-link-btn {
  font-size: 140%;
  color: #fff;
  text-decoration: none;
  padding: 30px 50px;
  border: 2px solid #fff;
}

.carousel-link-btn:hover {
  color: #000;
  text-decoration: none;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.8);
}

/* Info */
.info-img-container {
  display: flex; 
  justify-content: center;
  align-items: center;
}

.info-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-paragraph {
  font-size: 130%;
  padding: 0 70px;
}

/* Selection and pricing */
#selection-and-pricing {
  background-color: #fff0f2;
}

.selection-row {
  margin: 70px 0px;
}

.selection-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selection-sub-heading {
  text-decoration: underline;
}

.order-link-row {
  align-content: center;
  justify-content: center;
}

.order-link-btn {
  font-size: 140%;
  color: #000;
  text-decoration: none;
  padding: 30px 50px;
  border: 2px solid #000;
}

.order-link-btn:hover {
  color: #000;
  text-decoration: none;
  background-color: #fff;
  background: rgba(255, 255, 255, 0.8);
}

/* Delivery */

/* Contact */
#contact {
  background-color: #fff0f2;
}

.social-media-row {
  justify-content: center;
}

.list-inline {
  display: inline-flex;
}

.list-inline li {
  background-color: #fff;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  line-height: 70px;
  padding-left: 7px;
  margin: 0px 5px
}

.list-inline li:hover {
  background-color: #ffb6c1;
}

.social-media-link {
  color: #000;
}

.list-inline li:hover > .social-media-link {
  color: #fff;
}

/* Footer */
.copyright-row {
  margin: 5px 0px;
  /* display: flex; */
  justify-content: flex-end;
  
}

.copyright-row p {
  font-size: 90%;
  margin-bottom: 0px;
}