* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif, system;
  color: #2F2E2E;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

section {
  padding: 80px 30px 80px 30px;
}

section h2 {
  margin-bottom: 50px;
  font-size: 300%;
  text-align: center;
}

/* Navigation */
.navbar {
  background: rgba(255, 255, 255, 0.95);
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler {
  outline: none;
}

.nav-item {
  text-align: right;
}

/* Carousel */
.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.carousel-item-1 {
  background-image: url('../content/images/carousel1.jpg');
}

.carousel-item-2 {
  background-image: url('../content/images/carousel2.jpg');
}

.carousel-item-3 {
  background-image: url('../content/images/carousel3.jpg');
}

.carousel-item-4 {
  background-image: url('../content/images/carousel4.jpg');
}

.carousel-item-5 {
  background-image: url('../content/images/carousel5.jpg');
}

.carousel-item-6 {
  background-image: url('../content/images/carousel6.jpg');
}

.carousel-indicators--round li {
  border-radius: 10px;
  margin: 1px 3px;
  height: 10px;
  max-width: 10px;
  border: 1px solid #fff;
  background-color: transparent;
}

.carousel-indicators .active {
  background-color: #fff;
  max-width: 12px;
  margin: 0 3px;
  height: 12px;
}

.carousel-caption {
  margin-bottom: 200px;
}

.carousel-link-btn {
  font-size: 140%;
  color: #fff;
  text-decoration: none;
  padding: 25px 40px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  transition: background-color 0.8s, color 0.5s;
}

.carousel-link-btn:hover {
  color: rgba(0, 0, 0, 0.9);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
}

/* Info */
.info-img-container {
  display: flex; 
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
}

.info-img {
  max-width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info-text {
  font-size: 120%;
  padding: 0 20px;
  text-align: center;
}

.info-text-signature {
  margin-top: 10px;
  font-size: 140%;
  font-style: italic;
  text-align: center;
}

/* Selection and pricing */
#selection-and-pricing {
  background-color: #e1e1e1;
}

.selection-disclaimer {
  font-size: 100%;
  text-align: justify;
  margin-bottom: 30px;
}

.selection-text {
  font-size: 110%;
  text-align: justify;
}

.selection-price {
  text-align: center;
  font-style: italic;
  font-size: 110%;
}

.selection-gallery-row {
  margin-top: 30px;
}

.selection-img-container {
  overflow: hidden;
}

.selection-img {
  transition: all 0.3s ease-in-out;
}

.selection-img:hover {
  opacity: 0.6;
  transform: scale(1.01);
}

.selection-sub-heading {
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

/* Delivery */
.delivery-text {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 120%;
  text-align: justify;
}

/* Contact */
#contact {
  background-color: #e1e1e1;
}

.contact-row {
  flex-direction: row;
  justify-content: center;
  margin-bottom: 30px;
}

.contact-detail {
  text-align: center;
}

.contact-detail-header {
  font-size: 120%;
  margin-bottom: 5px;
  color: #000;
  font-weight: 600;
}

.contact-detail a {
  text-decoration: none;
  color: #212529;
  font-size: 110%;
}

.contact-detail-text {
  font-size: 110%;
  margin-bottom: 0px;
}

.social-media-row {
  margin-top: 60px;
  justify-content: center;
  text-align: center;
}

.list-inline {
  display: inline-flex;
}

.list-inline li {
  margin: 0px 5px
}

.social-media-link {
  color: #2F2E2E;;
}

.social-media-link i:hover {
  color: #fff;;
}

/* Footer */
.copyright-row {
  margin: 5px 0px;
  justify-content: flex-end;
}

.copyright-row p {
  font-size: 90%;
  margin-bottom: 0px;
}

@media (max-width: 991px) { 
  .info-img {
    max-width: 50%;
  }

  .info-text {
    margin-top: 50px;
    padding: 0px;
  }

  .selection-container,
  .selection-text-container,
  .selection-disclaimer-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .delivery-text {
    padding: 0px;
  }

  .contact-detail a,
  .contact-detail-text  {
    font-size: 100%;
  }
}

@media (max-width: 575px) {
  section h2 {
    font-size: 200%;
  }
  
  .carousel-caption {
    margin-bottom: 70px;
  }

  .carousel-link-btn {
    font-size: 100%;
    padding: 20px 40px;
  }

  .info-img {
    max-width: 90%;
  }

  .info-text,
  .delivery-text,
  .selection-disclaimer,
  .selection-text {
    font-size: 90%;
    text-align: center;
  }

  .selection-container,
  .selection-text-container,
  .selection-img-container,
  .selection-disclaimer-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .selection-price {
    font-size: 100%;
    margin-bottom: 30px;
  }
  
  .selection-gallery-row {
    margin-top: 0px;
  }

  .selection-img {
    margin-top: 0px;
    margin-bottom: 25px;
  }

  .contact-detail {
    margin-bottom: 10px;
  }

  .contact-detail a,
  .contact-detail p {
    font-size: 90%;
  }

  .copyright-row p {
    font-size: 70%;
    margin-bottom: 0px;
  }
}